/* My Styles */

.link-styles {
	color: #0068a3 !important;
	text-decoration: underline !important;
	font-size: 22px !important;
	margin-left: 20px;
}

.img-border-img {
	border: black 7px solid;
}

.contact-footer-size {
	font-size: 14px;
	text-align: center;
}

.blue-text-style {
	color: #0068a3;
}

.popular-community-style li {

}


/* Dropdown Nav */
/* CSS Document */

#container  h1 {
	margin-top: 100px;
	text-align:center;
	font-size: 60px;
	font-family: 'Bree Serif', 'serif';
	
	}

#container {
	margin: 0 auto;
	width:inherit;
	text-align: center;
	z-index: 10;
	position: relative;
}



#relatedContent {
  max-width: 800px;
  margin: 200px auto;
}

#relatedContent .item {
  max-width: 44%;
  padding: 3%;
  float: left;
  text-align: center;
}

#relatedContent .item a img {
  max-width: 100%;
}	

 #container nav { 
	margin: 50px 0;
	background-color: #0068a3;
	border-top: grey solid 8px;
	border-bottom: grey solid 8px;
	border-right: none;
	border-left: none; 
}

#container nav ul {
	padding:0;
	margin:0;
	list-style: none;
	position: relative;
	}
	
#container nav ul li {
	display:inline-block;
	background-color: #0068a3;
	font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
	}

#container nav a {
	display:block;
	padding:0 10px;	
	color:#FFF;
	font-size: 1.30em;
	line-height: 60px;
	text-decoration:none;
}

#container nav a:hover { 
	background-color: #000000; 
}

/* Hide Dropdowns by Default */
#container nav ul ul {
	display: none;
	position: absolute; 
	top: 60px;
}
	
/* Display Dropdowns on Hover */
#container nav ul li:hover > ul {
	display:inherit;
}
	
/* Fisrt Tier Dropdown */
#container nav ul ul li {
	width:170px;
	float:none;
	display:list-item;
	position: relative;
	
}

/* Second, Third and more Tiers	*/
#container nav ul ul ul li {
	position: relative;
	top:-60px; 
	left:170px;
}

	
/* Change this in order to change the Dropdown symbol */
#container li > a:after { content:  ''; }
#container li > a:only-child:after { content: ''; }





/* Footer Nav Styles */

.copyright-style {
	font-size: 16px !important;
	color: #494B48;
	
}

/*
.margin-copyrightstyle {
	margin-left: 150px;
}
*/

.lowerfooter-style {
	font-size: 10px !important;
	float: right;
	color: darkgrey !important;
}

@media (min-width: 0px) and (max-width: 400px) { 
	.lowerfooter-style {
		font-size: 10px !important;
		text-align: center;
		float: none;
		color: darkgrey !important;
}
}

.network-style a {
  float: right; }

.network-style2 a {
  float: right;

}



.footer-slogan {
	font-size: 38px !important;
	color: black;
}

.align-center {
  margin: auto;
  text-align: center; }

nav ul li {
  display: inline;
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

.nav-footer ul li a {
  color: black !important;
  font-size: 14px;
  border-right: 2px solid black;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
}

.nav-footer ul li a:hover {
  color: #0068a3 !important;
  font-size: 14px;
  border-right: 2px solid black;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
}




.nav-footer-left {
  border-left: 2px solid black;

}

.nav-footer-border {
  border-left: 2px solid black; }

.nav-footer ul li a:hover {
  color: #3fb18d; }

.maincontentlayout {
  position: relative; }





/* -----  */



body {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
	background-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

ul li a {
	color: white !important;
	font-family: ;
}

ul li a:hover {
	color: grey !important;
	font-family: ;
}

p {
    font-size: 1.25em;
    line-height: 1.6;
    color: #000;
}

hr {
    max-width: 400px;
    border-color: #999999;
}

.brand,
.address-bar {
    display: none;
}

.navbar-brand {
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
}

.navbar-nav {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 3px;
}

.img-full {
    min-width: 100%;
}

.brand-before,
.brand-name {
    text-transform: capitalize;
}

.brand-before {
    margin: 15px 0;
}

.brand-name {
    margin: 0;
    font-size: 4em;
}

.tagline-divider {
    margin: 15px auto 3px;
    max-width: 250px;
    border-color: #999999;
}

.box {
    margin-bottom: 20px;
    padding: 30px 15px;
    background: #fff;
    background: rgba(255,255,255,0.9);
}

.intro-text {
    text-transform: uppercase;
    font-size: 1.50em;
    font-weight: 400;
    letter-spacing: 1px;
}

.img-border {
    float: none;
    margin: 0 auto 0;
    border: #999999 solid 1px;
}

.img-left {
    float: none;
    margin: 0 auto 0;
}

footer {
    background: #fff;
    background: rgba(255,255,255,0.9);
}

footer p {
    margin: 0;
    padding: 10px 0;
}

@media screen and (min-width:768px) {
    .brand {
        display: inherit;
        margin: 0;
        padding: 30px 0 10px;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
        font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 5em;
        font-weight: 700;
        line-height: normal;
        color: #fff;
    }

    .top-divider {
        margin-top: 0;
    }

    .img-left {
        float: left;
        margin-right: 25px;
    }

    .address-bar {
        display: inherit;
        margin: 0;
        padding: 0 0 40px;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
        text-transform: uppercase;
        font-size: 1.25em;
        font-weight: 400;
        letter-spacing: 3px;
        color: #fff;
    }

    .navbar {
        border-radius: 0;
    }

    .navbar-header {
        display: none;
    }

    .navbar {
        min-height: 0;
    }

    .navbar-default {
        border-top: grey solid 8px;
		border-bottom: grey solid 8px;
		border-right: none;
		border-left: none;
        background: #fff;
        background-color: #0068a3;
    }

    .nav>li>a {
        padding: 13px;
    }

    .navbar-nav>li>a {
        line-height: normal;
    }

    .navbar-nav {
        display: table;
        float: none;
        margin: 0 auto;
        table-layout: fixed;
        font-size: 1.25em;
    }
	
	
}

@media screen and (min-width:1200px) {
    .box:after {
        content: '';
        display: table;
        clear: both;
    }
	
}



@media screen and (max-width:767px) {

.navbar-default {
	border-top: 1px solid #999999;
	 border-bottom: 1px solid #999999;
}

.navbar-default .navbar-collapse {
  border-color: #e7e7e7;
	border-top: 1px solid #999999;
}

.navbar-default .navbar-collapse ul li{
 border-bottom: 1px solid #999999;

}

.navbar-default .navbar-collapse ul li a{
	color: 	#0068a3 !important;
	font-weight: 600;
}
	
}