$main-color2: #0068a3;
$main-font: 'itcclearfaceltregular';

/* BASE */



/* LAYOUT */


.align-center {
	text-align: center;
	margin: auto;
	align-content: center;
}

.navbar {
	background-color: #0068a3;
}
